<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>
<h1>Tasks 一覧</h1>
<a href="/task/create">Create Task</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>DeadLine</th>
        <th>PlanMinute</th>
        <th>ActualMinute</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.name}"></td>
        <td th:text="${task.deadlinedate}"></td>
        <td th:text="${task.planminute}"></td>
        <td th:text="${task.actualminute}"></td>
        <td><a th:href="@{/task/edit/{id}(id=${task.id})}">Edit</a></td>
        <td><a th:href="@{/task/delete/{id}(id=${task.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>